[Unit]
Description=CrearyDB.com Sync Service

[Service]
Environment=crearynode=nodes.creary.net
WorkingDirectory=/var/www/com_crearydb/docker/sync
ExecStart=/usr/bin/python3 sync.py
Restart=always

[Install]
WantedBy=multi-user.target
