
a {
    color: #0073FF;
}

.ui.basic.blue.label {
    color: #0073FF !important;
    border-color: #0073FF !important;
}

.ui.blue.label, .ui.blue.labels .label {
    background-color: #0073FF !important;
    border-color: #0073FF !important;
}

.ui.blue.button, .ui.blue.buttons .button {
    background-color: #0073FF;
}

a.item {
    padding: 0 10px;

}

