[Unit]
Description=CreaScan History Service

[Service]
Environment=crearynode=supportnodes.creary.net
WorkingDirectory=/var/www/com_crearydb/docker/history
ExecStart=/usr/bin/python3 history.py
Restart=always

[Install]
WantedBy=multi-user.target
