[Unit]
Description=CrearyDB.com Live Service

[Service]
Environment=crearynode=nodes.creary.net
WorkingDirectory=/var/www/com_crearydb/docker/live
ExecStart=/usr/bin/python3 live.py
Restart=always

[Install]
WantedBy=multi-user.target
